*{color: blue;}
h4{color: red;}
header{
    background-color: yellow
}
nav{
    background-color: yellow; color: brown;
    width: 300px; text-align: center;
    border-radius: 10px;
}
.animated{
    width: 300;
    height: 300;
    background-color: green;
    animation: testAnimation 5s infinite alternate;
}
@keyframes testAnimation{
    0% {border-radius: 0%}
    100% {border-radius: 50%}
}
.thumbnail{
    width: 30px;
    height: 30px;
    border: 1px;
    border-color: gray;
    margin: 2px;
}